[color]
	ui = true
	status = auto
	diff = auto
	branch = auto
	interactive = auto

[alias]
    sta = status
    cmt = commit
    cko = checkout
    br = branch

[core]
	autocrlf = false
	safecrlf = true
    editor = vim
